DATA_ROOT="/Users/charley/nasa/4dcloud-2026/model_era5/data_era5"
debug=true
AURORA_CHECKPOINT_REPO="microsoft/aurora"
AURORA_CHECKPOINT_FILE="aurora-0.25-pretrained.ckpt"
FEATHER_FILE="/Users/charley/nasa/4dcloud-2026/model_era5/data_ground_truth/2018283104332_66319_CS_2B-CLDCLASS-LIDAR_GRANULE_P1_R05_E08_F03.feather"
FEATHER_ROOT="/Users/charley/nasa/4dcloud-2026/model_era5/data_ground_truth/"
EMBEDDING_OUTUT_DIR="/Users/charley/nasa/4dcloud-2026/model_era5/embeddings/"
